In [1]:
import pandas as pd
import numpy as np

In [3]:
data = np.array(['g','e','e','k','s'])
ser = pd.Series(data)
ser

0    g
1    e
2    e
3    k
4    s
dtype: object

In [4]:
print(ser[:2])

0    g
1    e
dtype: object

In [5]:
data = [[1,2,3,4],[5,6,7,8],[9,10,11,12],[13,14,15,16]]
index = ['a','b','c','d']
columns = ['X','Y','W','Z']
df = pd.DataFrame(data,index = index, columns = columns)
df

    X   Y   W   Z
a   1   2   3   4
b   5   6   7   8
c   9  10  11  12
d  13  14  15  16

In [7]:
df['W']

a     3
b     7
c    11
d    15
Name: W, dtype: int64

In [8]:
df.loc["a"]

X    1
Y    2
W    3
Z    4
Name: a, dtype: int64

In [10]:
df.iloc[0:2,0:2]

   X  Y
a  1  2
b  5  6

In [12]:
df['new'] = [1,2,3,4]

In [13]:
df

    X   Y   W   Z  new
a   1   2   3   4    1
b   5   6   7   8    2
c   9  10  11  12    3
d  13  14  15  16    4

In [15]:
df.loc['row'] = [1,2,3,4,5]
df

      X   Y   W   Z  new
a     1   2   3   4    1
b     5   6   7   8    2
c     9  10  11  12    3
d    13  14  15  16    4
row   1   2   3   4    5

In [17]:
df.drop('new',axis = 1, inplace = True)

In [18]:
df

      X   Y   W   Z
a     1   2   3   4
b     5   6   7   8
c     9  10  11  12
d    13  14  15  16
row   1   2   3   4